@layer reset, base, util;

@import './_reset.scss' layer(reset);

@font-face {
  font-family: 'Local Noto Sans JP';
  src: local('Noto Sans JP');
}

@layer base {

  :root {
    scrollbar-gutter: stable;
  }

  :root:has(:modal, :popover-open) {
    overflow: hidden;
  }

  @media not (prefers-reduced-motion: reduce) {
    :root:has([id], :target, :focus) {
      scroll-behavior: smooth;
    }
  }

  // [id],
  // :target,
  // :focus-within {
  //   scroll-margin-top: var(--header-height, 0px);
  // }

  body {
    min-height: 100dvh;
    height: -webkit-fill-available;
    overflow-x: clip;

    line-height: 1.5;
    font-family: 'SN Pro', 'Helvetica Neue', 'Arial', 'Local Noto Sans JP', 'Noto Sans JP', sans-serif;

    // text-autospace: normal;
  }
}

@layer util {
  .visually-hidden {
    position: absolute !important;
    inset: 0 !important;
    contain: strict !important;
    visibility: initial !important;
    width: 4px !important;
    height: 4px !important;
    margin: unset !important;
    padding: unset !important;
    border: unset !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}