@layer reset, base, util;

@import './_reset.scss' layer(reset);

// @import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap';

// @font-face {
//   font-family: 'Local Noto Sans JP';
//   src: local('Noto Sans JP');
// }

@layer base {

  :root {
    overscroll-behavior: none;
    scrollbar-gutter: stable;
  }

  :root:has(:modal, :popover-open) {
    overflow: hidden;
  }

  @media not (prefers-reduced-motion: reduce) {
    :root:has([id], :target, :focus) {
      scroll-behavior: smooth;
    }
  }

  // [id],
  // :target,
  // :focus-within {
  //   scroll-margin-top: var(--header-height, 0px);
  // }

  body {
    min-height: 100svh;
    line-height: 1.5;
    font-family: 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif;

    // text-autospace: normal;
  }
}

@layer util {
  .visually-hidden {
    position: absolute !important;
    inset: 0 !important;
    contain: strict !important;
    visibility: initial !important;
    width: 4px !important;
    height: 4px !important;
    margin: unset !important;
    padding: unset !important;
    border: unset !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}